@media screen and (min-width: $breakpoint-desktop) {
  section {
    .info-container {
      .input-container {
        width: 45%;
      }
      .user-data-card {
        width: 75%;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  section {
    .info-container {
      .input-container {
        width: 50%;
      }
      .user-data-card {
        width: 80%;
        padding: 1em 1.3em;
        flex-direction: row;
        justify-content: space-between;
        .col {
          display: flex;
          flex-direction: column;
          text-align: left;
          h3 {
            max-width: 10ch;
          }
        }
      }
    }
  }
}
@media (min-width: $breakpoint-border) {
  .user-data-card {
    width: 85%;
    padding: 1em 1.3em;
    flex-direction: row;
    justify-content: space-between;

    .col:not(:first-of-type) {
      border-left: 2px solid hsla(0, 0%, 59%, 0.611);
      padding-left: 2rem;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .input-container {
    input {
      &::placeholder {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
