@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "./variables";
@import "./global";

section {
  width: 100%;
  padding: 1.7em 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 75%;
    width: 100%;
    background-image: url("../images/pattern-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 1.7rem;
      font-weight: $bold;
      color: $white;
      text-transform: capitalize;
    }

    .input-container {
      width: 90%;
      display: flex;
      align-items: center;
      margin: 2em 0;

      input {
        padding: 1em;
        height: 3em;
        width: 100%;
        font-family: inherit;
        font-size: 1rem;
        font-weight: $regular;
        color: $very-dark-grey;
        background-color: $white;
        border: none;
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .submit-btn {
        cursor: pointer;
        height: 3em;
        padding: 1em 1.3em;
        font-size: 1rem;
        border: none;
        border-top-right-radius: 10px;
        background-color: $black;
        border-bottom-right-radius: 10px;
        transition: background-color 100ms ease-in;
        &:hover,
        &:focus {
          background-color: $very-dark-grey;
        }
      }
    }

    .user-data-card {
      width: 90%;
      margin: auto;
      padding: 1em 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: $white;
      box-shadow: 0 3px 30px rgba($color: #000000, $alpha: 0.3);
      border-radius: 10px;

      .col {
        margin: 0.5em 0;

        .data-field {
          font-weight: $bold;
          font-size: 0.7rem;
          color: $dark-grey;
          letter-spacing: 2px;
          text-transform: uppercase;
          margin-bottom: 1em;
        }

        h3 {
          font-weight: $medium;
          font-size: 1.2rem;
          color: $very-dark-grey;
        }
      }
    }
  }
}
// Styling map

.map-container {
  position: absolute;
  width: 100vw;
  height: 70vh;
  transform: translateY(-22%);
  z-index: -1;
  #map {
    height: 100%;
    width: 100%;
  }
}

.attribution {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.8rem;
  color: $dark-grey;
  text-align: center;
  z-index: 5;
  a {
    text-decoration: none;
    color: $white;
    padding-bottom: 2px;
    transition: color 250ms ease-in;
    &:hover,
    &:focus {
      border-bottom: 2px solid $very-dark-grey;
    }
  }
}

@import "./media-queries";
